
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.data/**
banco/**
example_template/**
exemplo/**
tomcat/code/target/**
tomcat/config/**
docker-compose.yml
docker-cloud.yml
docker-composeaws.yml
rodar
tomcat/code/src/main/java/br/com/assessmentsystem/assessmentsystem/connection/ConnectionFactory.java
