# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.data/**
banco/**
example_template/**
exemplo/**
tomcat/code/target/**
docker-cloud.yml
docker-composeaws.yml
rodar
tomcat/AssessmentSystempegou
tomcat/config/ini/amazon.ini
tomcat/environment/package/java
docker-composeAmazon.yml
